.error-display {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.error-display > .header {
  font-size: 6rem;
  margin: 0;
}

.error-display > .body {
  color: #444;
  color: light-dark(#444, #ccc);
  font-size: 1.2rem;
}

.error-display .success {
  color: green;
}
